<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% messages.forEach(function(message) { %>

    <strong><%= message.user %></strong>: <%= message.text %>
    <em>(<%= message.added.toDateString() %>)</em>

    <% }) %>
  </body>
</html>
